
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
redditMetro/redditMetro/Packages/redditMetro_1.0.0.1_AnyCPU_Debug.appxupload
redditMetro/redditMetro/Packages/redditMetro_1.0.0.1_AnyCPU_Debug_Test/Add-AppxDevPackage.bat
redditMetro/redditMetro/Packages/redditMetro_1.0.0.1_AnyCPU_Debug_Test/reddit.metro.zip
redditMetro/redditMetro/Packages/redditMetro_1.0.0.1_AnyCPU_Debug_Test/redditMetro_1.0.0.1_AnyCPU_Debug.appx
redditMetro/redditMetro/Packages/redditMetro_1.0.0.1_AnyCPU_Debug_Test/redditMetro_1.0.0.1_AnyCPU_Debug.appxsym
redditMetro/redditMetro/Packages/redditMetro_1.0.0.1_AnyCPU_Debug_Test/redditMetro_1.0.0.1_AnyCPU_Debug.cer
*.appxupload
*.bat
*.zip
*.appx
*.appxsym
redditMetro/redditMetro/Packages/*